In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

### 1.对DataFrame列名的改名操作

In [15]:
frame = DataFrame({'a':[1,1,1],'b':[2,2,2]})

In [16]:
frame

   a  b
0  1  2
1  1  2
2  1  2

In [17]:
# 将a改名为A  rename  没有对源dataframe进行操作
frame.rename(columns={'a':'A'})

   A  b
0  1  2
1  1  2
2  1  2

In [20]:
# 如果列名均需修改，则用 columns 会对源dataframe修改
frame.columns = ['A','B']

In [21]:
frame

   A  B
0  1  2
1  1  2
2  1  2