# 其他有关pandas的话题

## 整数索引

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [2]:
ser = Series(np.arange(3))

In [3]:
ser

0    0
1    1
2    2
dtype: int32

In [7]:
#    对于整数索引而言   ser[-1] 会报错
#    但对于非整数索引可以这样做
ser2 = Series(np.arange(3),index = ['a','b','c'])

In [8]:
ser2

a    0
b    1
c    2
dtype: int32

In [9]:
ser2[-1]

2

不考虑索引类型，基于位置的索引 使用Series的iat 和


DataFrame的iloc方法

In [11]:
ser3  = Series(np.arange(3),index = ['a','b','c'])

In [12]:
ser3

a    0
b    1
c    2
dtype: int32

In [14]:
ser3.iat[2]

2

In [15]:
frame = DataFrame(np.arange(6).reshape((3,2)),index = [2,0,1])

In [17]:
frame

   0  1
2  0  1
0  2  3
1  4  5

In [20]:
frame.iloc[1,:]   # 选取行

0    2
1    3
Name: 0, dtype: int32

In [21]:
frame.iloc[:,1] # 选取列

2    1
0    3
1    5
Name: 1, dtype: int32