In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

# 汇总和计算描述统计

In [3]:
df = DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],
              index=['a','b','c','d'],
              columns=['one','two'])

In [4]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [5]:
df.sum() #返回含有各列小计的Series

one    9.25
two   -5.80
dtype: float64

In [6]:
df.sum(axis=1)  #NA值会自动排除

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [8]:
df.mean(axis=1,skipna=False)

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [11]:
df.idxmax()  # 返回最大值的索引

one    b
two    d
dtype: object

In [12]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [14]:
df.describe() #汇总统计

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [15]:
# 对于非数值型数据，describe会产生另外一种汇总统计
obj = Series(['a','a','b','c'] * 4)

In [16]:
obj

0     a
1     a
2     b
3     c
4     a
5     a
6     b
7     c
8     a
9     a
10    b
11    c
12    a
13    a
14    b
15    c
dtype: object

In [17]:
obj.describe()

count     16
unique     3
top        a
freq       8
dtype: object

## 唯一值，值计数以及成员资格

In [21]:
obj = Series(['c','a','d','a','a','b','b','c','c'])

In [24]:
#得到唯一值数组
uniques = obj.unique()

In [25]:
uniques

array(['c', 'a', 'd', 'b'], dtype=object)

In [26]:
# 对得到的结果进行排序
uniques.sort()

In [27]:
uniques

array(['a', 'b', 'c', 'd'], dtype=object)

In [29]:
# value_counts计算一个Series中各值出现的频率
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [30]:
pd.value_counts(obj.values,sort=False)

c    3
b    2
d    1
a    3
dtype: int64

In [31]:
obj

0    c
1    a
2    d
3    a
4    a
5    b
6    b
7    c
8    c
dtype: object

In [32]:
# isin,用于判断矢量化集合的成员资格
mask = obj.isin(['b','c'])

In [33]:
mask

0     True
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [34]:
obj[mask]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [35]:
data = DataFrame({'Qu1':[1,3,4,3,4],
                 'Qu2':[2,3,1,2,3],
                 'Qu3':[1,5,2,4,4],})

In [36]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [39]:
result = data.apply(pd.value_counts).fillna(0)

In [40]:
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0